@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: transparent;
}

p {
    margin: 0;
    font-size: 1.15rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.wrp-container {
    background-color: #2E465F;
    border: 1.5px solid black;
    color: white;
    overflow: hidden;
    position: fixed;
    padding: 0px 40px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#bet-menu {
    @extend .wrp-container;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -140px;
    width: 450px;
}

#bet-form {
    flex-direction: column;
}

#blackjack-menu {
    @extend .wrp-container;
    left: 50%;
    top: 100%;
    margin-left: -200px;
    margin-top: -140px;
    width: 450px;
}

#hit-button {
    @extend .wrp-container;
    border-radius: 7px;
    left: 75%;
    top: 40%;
    margin-top: -150px;
    width: 300px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  {
    #hit-button {
        @extend .wrp-container;
        border-radius: 7px;
        left: 75%;
        top: 37%;
        margin-top: -150px;
        width: 300px;
    } 
}

#stand-button {
    @extend .wrp-container;
    border-radius: 7px;
    left: 75%;
    top: 50%;
    margin-top: -140px;
    width: 300px;
}

#stand-button:hover, #hit-button:hover {
    background-color: #2a4c70;
}

#timer { 
    @extend .wrp-container;
    border-radius: 15px;
    left: 80%;
    top: 80%;
    margin-top: -140px;
    width: 200px;
    font-size: 1.25rem;
}