#-----------------------------#
# [EN] Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string “server=127.0.0.01;database=essentialmode;userid=root;”

setr ea_LanguageName "en"                # set our language to english
setr ea_MenuButton "344"			# set our menu button to F2. default: "289"
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true"
set ea_enableReportCommand "true"
#-----------------------------#

#-----------------------------#
add_principal identifier.steam:11000013fcd2349 group.admin
add_principal identifier.steam:110000105410c04 group.admin
add_ace group.admin easyadmin allow
add_ace resource.console command allow
#-----------------------------#

# Config meta
set sv_enforceGameBuild 2060
set es_enableCustomData 1
set mysql_connection_string "user=root;database=gta;mysql_slow_query_warning=300;mysql_debug=FileAndConsole;supportBigNumbers=true;connectTimeout=30000;acquireTimeout=30000"
sv_scriptHookAllowed 0
sets tags ""
set sv_displayqueue true
sets locale "en-US" 
sv_hostname "Development | Pluto RP"
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.superadmin command.quit deny # but don't allow quit
add_principal identifier.steam:11000010df5cc6d group.superadmin # add the admin to the group
sv_endpointprivacy true
onesync_enabled true
sv_maxclients 50
set steam_webApiKey "B8C90792A2A1A055C90E65C923FA819D"
sv_licenseKey 6xe36w36f012bkpj3qpljlmz1rvpo2s1 

add_principal identifier.steam:1100001415efdac group.admin # Sk1c2 Dev
add_principal identifier.steam:11000013fcd2349 group.admin # Evan Dev

# Resources
exec resources.cfg