.container{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:65%;
    top:10%;
}

.btn {
    border:none;
    stroke: none;
    outline: none;
    background-color: #262932ec;
    min-width: 320px;
    width: fit-content;
    min-height: 30px;
    max-height: 60px;
    font-size: 15px;
    padding: 20px;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
    color:white;
    -webkit-box-shadow: 0px 0px 11px 0px #000000; 
    box-shadow: 0px 0px 11px 0px #000000;    
    transition: all 1s;
}
.btn:hover{
    transition: all 1s;

    background-color: #1d1f27;

}

.title{
    float: left;
    margin-top: -10px;
    font-size: 17px;

}
.description{
    font-size: 14px;
    margin-top: 15px;
    text-align: left;

}

#title{
    font-family: "Courier New", Courier, monospace;
    font-weight:0;
    font-size:17px;
  
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    letter-spacing:1px;
    color:#E6E6E5;
    width:100%;
    opacity:1;
    margin-top:-8.5%;
  
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    /* font-size:16px; */
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    /* text-shadow: 1px 1px 1px rgba(1,1,1,1); */
    position: relative;
    z-index: 99;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}